<section>
    <div>
        <div>
            <i class="icon icon-wksir"></i>
            <span>Wydział Kształtowania Środowiska i Rolnictwa</span>
        </div>
        <div>
            <img src="zut.png" alt="zut">
        </div>
    </div>
    <nav>
        <a href="">Strona Główna</a>
        <a href="">Aktualności</a>
        <a href="">Kadra</a>
        <a href="">Labolatoria</a>
        <a href="">Narzędzia</a>
        <a href="">Inne</a>
        <a href="">Sponsorzy</a>
    </nav>
</section>
