section {
    --_height: 120px;
    width: 100%;
}

section > div > :first-child > img {
    margin-right: 20px;
    height: calc(var(--_height) - 50px);
}

section > div > :first-child {
    display: flex;
    align-items: center;
}

section > div {
    height: calc(var(--_height) - 50px);
    background: var(--secondary);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section > nav {
    height: calc(var(--_height) - 70px);
    background: var(--primary);
    padding-block: 30px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

section a {
    display: block;
    padding: 20px;
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    div > img {
        filter: brightness(2) contrast(1.2);
    }
}
