<section>
    <div>
        <div>
            <img src="logo_katedra.png">
            <!-- <span><strong>Wydział Kształtowania Środowiska i Rolnictwa</strong></span><br> -->
            <h2>Katedra Inżynierii Odnawialnych Źródeł Energii</h2>
        </div>
        <div>
            <img src="zut.png" alt="zut">
        </div>
    </div>
    <nav>
        <a href="">Strona Główna</a>
        <a href="news">Aktualności</a>
        <a href="staff">Kadra</a>
        <a href="">Labolatoria</a>
        <a href="">Narzędzia</a>
        <a href="">Inne</a>
        <a href="">Sponsorzy</a>
    </nav>
</section>
